## Loop

In [1]:
l = [36,25,85,65,45,89,12]

In [2]:
l

[36, 25, 85, 65, 45, 89, 12]

In [3]:
l[0]

36

In [4]:
l[1]

25


## 1.Loop:for

In [ ]:
for <index> in <iterator>:
    print(index)
    print(index)
    print(index)
    print(index)
    print(index)

In [7]:
len(l)

7

In [9]:
range(0,10)

range(0, 10)

In [10]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [11]:
l

[36, 25, 85, 65, 45, 89, 12]

In [12]:
for i in range(0,7):
    print(l[i])

36
25
85
65
45
89
12

In [13]:
for i in range(0,len(l)):
    print(l[i])

36
25
85
65
45
89
12

## Sum of number in list

In [14]:
l

[36, 25, 85, 65, 45, 89, 12]

In [17]:
sum = 9

for i in range(0, len(l)):
    sum = sum + l[i]
    
print(sum)

366

In [19]:
36 + 25 + 85 + 65 + 45 + 89 + 12 + 9

366

## Print the Pattern

In [20]:
word = "india"

for letter in word:
    print(letter)

i
n
d
i
a

## Multiplication Table

In [23]:
n = 10

for i in range(1,11):
    print(f" {n} * {i} = {n*i}")

 10 * 1 = 10
 10 * 2 = 20
 10 * 3 = 30
 10 * 4 = 40
 10 * 5 = 50
 10 * 6 = 60
 10 * 7 = 70
 10 * 8 = 80
 10 * 9 = 90
 10 * 10 = 100

In [22]:
n = 5
i = 3
print(f"rghrfl: {n} {i}")

rghrfl: 5 3

## Factorial of Number

In [79]:
result = 1
n = 10

for i in range(1, n+1):
    result = result * i
   
print(result)

3628800

In [81]:
n = int(input("Enter a number whose factorial we want to find  :"))
fact = 1

for i in range(1,n+1):
    fact = fact * i
    
print(fact)

Enter a number whose factorial we want to find  :9
362880

## 2.Loop:while

In [ ]:
while <condition>:
    print()

In [83]:
n = 5
i = 1

while i <= n:
    
    print(" * " * i)
    
    i = i + 1

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [87]:
n = 5
i = n

while i >= 1:
    
    print(" * " * i)
    
    i = i - 1

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [88]:
n = 5
i = 1

while i <= n:
    
    print(" * " * i)
    
    i = i + 1
    
n = 4
i = n

while i >= 1:
    
    print(" * " * i)
    
    i = i - 1

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

## Pattern Print

In [31]:
string = "PYTHON INDIA"
index = 0

while index < len(string):
    print(string[index])
    
    index += 1

P
Y
T
H
O
N

I
N
D
I
A

In [32]:
len(string)

12

## Print the letter from n to 1

In [46]:
num = 10

while (num >= 0):
    print (num)
    num -= 1

10
9
8
7
6
5
4
3
2
1
0

In [34]:
num = 20
while (num >= 0):
    print(num)
    num -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

## Function

In [47]:
l

[36, 25, 85, 65, 45, 89, 12]

In [48]:
len(l)

7

In [49]:
s = 'INDIA VS ENGLAND'

In [51]:
s

'INDIA VS ENGLAND'

In [52]:
len(s)

16

In [54]:
for i in range(15,20):
    print(i)

15
16
17
18
19

In [55]:
def dghj():
    print()
    print()

In [58]:
def my_func():
    pass

In [59]:
def greet():
    print("Hello!")

In [60]:
greet()

Hello!

In [62]:
result = greet

In [66]:
print(result)

<function greet at 0x000002C06C27ADC0>

In [67]:
type(result)

function

In [35]:
def test1():

    sum = 1 + 5
    
    return sum

In [36]:
test1()

6

In [37]:
result = test1()

In [38]:
print(result)

6

In [39]:
type(result)

int

In [40]:
def test3():
    li = [1,2,3]
    return li

In [93]:
result = test3()

In [94]:
print(result)

[1, 2, 3]

In [95]:
len(result)

3

In [96]:
def test5():
    name = "Pravin"
    return name

In [100]:
name = test5()

In [101]:
name

'Pravin'

In [104]:
test5() + " Dole"

'Pravin Dole'

In [107]:
def test6():
    return [36,56,16]

In [108]:
test6()

[36, 56, 16]

In [109]:
def test6():
    return 36,56,16

In [110]:
test6()

(36, 56, 16)

In [111]:
a, b, c = test6()

In [112]:
a

36

In [113]:
b

56

In [114]:
c

16

In [115]:
a,b,c = 1,2,3

In [116]:
print(a)

1

In [118]:
print(a)
print(b)
print(c)

1
2
3

In [119]:
def test7():
 
    result = 50/20*6+8-5
   
    return result

In [120]:
test7()

18.0

In [121]:
50/20*6+8-5

18.0

In [137]:
def test8():
    
    l = [1,2,3,4,5,6,7,8,9,10]
    
    sum = 0
    
    for i in l:
        
        sum += i
        
    return sum

In [138]:
 test8()

55

In [139]:
1+2+3+4+5+6+7+8+9+10

55

In [180]:
def test9():

    l = [1,2,3,4,5,'INDIA','PUNE',6,7,8,'RANI',9,10]
    
    sum = 0
    
    for i in l:
        
        if type (i) == int:
        
            sum += i
        
    return sum

In [181]:
test9()

55

In [184]:
def test10(l):

    sum = 0
    
    for i in l:
        
        if type (i) == int:
        
            sum += i
        
    return sum

In [185]:
 l = [1,2,3,4,5,'a','b','c',6,7,8,'d','e',9,'f',10]

In [186]:
test10(l)

55

In [27]:
def test11(mylist):

    sum = 0
    
    for i in mylist:
        
        if type (i) == int:
        
            sum += i
        
    return sum

In [28]:
l = [1,2,3,4,'a','b','c',5]

In [47]:
test11(mylist = l)

15

In [30]:
def two_no_sum(a,b):
    
    sum = a + b
    
    return sum

In [206]:
a = 2
b = 3

result = two_no_sum(a,b)

In [207]:
result

5

In [208]:
p = 5
q = 10

result = two_no_sum(p,q)

In [209]:
two_no_sum(a=p, b=q)

15

In [59]:
def two_no_sum(a, b):
    """
    Calculate the sum of two numbers
    :params: 'a' is first number
    :params: 'b' is second number
    :return: addition of two numbers
    
    """
    sum = a + b
    
    return sum

In [60]:
two_no_sum(1, 2)

3

In [210]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [211]:
['a','b','c']

['a', 'b', 'c']

In [57]:
def test12(mylist):
    
    li = []
    
    for i in mylist:
        
        if type(i) == str:
            
            li.append(i)
            
    return li

In [213]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [214]:
test12(l)

['a', 'b', 'c']

In [52]:
def test13(mylist):
    """
    This function seperates the integer and str elements from the given list
    :params: list()
    :returns: string list, integer list
     """
    
    li_int = []
    li_str = []
    
    for i in mylist:
        
        if type(i) == str:
            li_str.append(i)
            
        if type(i) == int:
            li_int.append(i)
            
    return li_str, li_int

In [53]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [54]:
list_str, list_int = test13(l)

In [55]:
list_str

['a', 'b', 'c']

In [56]:
list_int

[1, 2, 3, 4, 5]